## Clean Data

Prepares data for downstream analysis.

In [41]:
import pandas as pd
import os

In [42]:
data_input_path = "hand-cleaned-data"
data_output_path = "final-data"

In [43]:
inexperienced = pd.read_csv(os.path.join(data_input_path, "inexperienced-matched-hand-cleaned.csv"))
out_of_field = pd.read_csv(os.path.join(data_input_path, "out-of-field-matched-hand-cleaned.csv"))

In [44]:
inexperienced.head()

,LONG_SCHOOL_YEAR,SCHOOL_DSTRCT_NM,INSTN_NAME,SYSTEM_NAME,SCHOOL_NAME,LABEL_LVL_3_DESC,LABEL_LVL_2_DESC,FTE,INEXPERIENCED_FTE,INEXPERIENCED_FTE_PCT,Full School_ID,MATCH_TYPE,SCORE
0,2017-18,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,Leaders,Not Applicable,1.0,0.0,0,6011050.0,PERFECT,100
1,2017-18,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,Teachers,Total,29.2,5.0,17,6011050.0,PERFECT,100
2,2017-18,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,Leaders,Not Applicable,2.0,0.0,0,6010177.0,PERFECT,100
3,2017-18,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,Teachers,Total,43.9,11.0,25,6010177.0,PERFECT,100
4,2017-18,APPLING COUNTY,APPLING COUNTY HIGH SCHOOL,APPLING COUNTY,APPLING COUNTY HIGH SCHOOL,Leaders,Not Applicable,2.0,0.0,0,6010103.0,PERFECT,100

In [45]:
out_of_field.head()

,LONG_SCHOOL_YEAR,SCHOOL_DSTRCT_NM,INSTN_NAME,SYSTEM_NAME,SCHOOL_NAME,Full School_ID,LABEL_LVL_3_DESC,LABEL_LVL_2_DESC,FTE,OUTOFFIELD_FTE,OUTOFFIELD_FTE_PCT,MATCH_TYPE,SCORE
0,2017-18,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,APPLING COUNTY,ALTAMAHA ELEMENTARY SCHOOL,6011050.0,Teachers,Total,29.2,3.3,11,PERFECT,100
1,2017-18,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,APPLING COUNTY,APPLING COUNTY ELEMENTARY SCHOOL,6010177.0,Teachers,Total,43.9,2.5,6,PERFECT,100
2,2017-18,APPLING COUNTY,APPLING COUNTY HIGH SCHOOL,APPLING COUNTY,APPLING COUNTY HIGH SCHOOL,6010103.0,Teachers,Total,70.9,7.0,10,PERFECT,100
3,2017-18,APPLING COUNTY,APPLING COUNTY MIDDLE SCHOOL,APPLING COUNTY,APPLING COUNTY MIDDLE SCHOOL,6010195.0,Teachers,Total,56.1,3.4,6,PERFECT,100
4,2017-18,APPLING COUNTY,APPLING COUNTY PRIMARY SCHOOL,APPLING COUNTY,APPLING COUNTY PRIMARY SCHOOL,6010277.0,Teachers,Total,57.0,11.5,20,PERFECT,100

In [46]:
inexperienced = inexperienced.rename(columns={"Full School_ID": "FULL_SCHOOL_ID"})
inexperienced = inexperienced.drop(columns=["MATCH_TYPE", "SCORE"])
inexperienced["INSTN_NAME"] = inexperienced["INSTN_NAME"].str.upper()
inexperienced["SYSTEM_NAME"] = inexperienced["SYSTEM_NAME"].str.upper()
inexperienced["SCHOOL_NAME"] = inexperienced["SCHOOL_NAME"].str.upper()

In [47]:
out_of_field = out_of_field.rename(columns={"Full School_ID": "FULL_SCHOOL_ID"})
out_of_field = out_of_field.drop(columns=["MATCH_TYPE", "SCORE"])
out_of_field["INSTN_NAME"] = out_of_field["INSTN_NAME"].str.upper()
out_of_field["SYSTEM_NAME"] = out_of_field["SYSTEM_NAME"].str.upper()
out_of_field["SCHOOL_NAME"] = out_of_field["SCHOOL_NAME"].str.upper()

In [48]:
inexperienced.to_csv(os.path.join(data_output_path, "inexperienced-matched-cleaned.csv"), index=False)
out_of_field.to_csv(os.path.join(data_output_path, "out-of-field-matched-cleaned.csv"), index=False)