# Approximate School Name Matching

Matches school names and their ID's

In [3]:
import pandas as pd
from fuzzywuzzy import fuzz, process

In [4]:
school_to_id = pd.read_excel('ga_public_school_contact_list.xlsx')
educator_inex = pd.read_csv('Educators_Inexperienced_2018_JAN_24th_2019.csv')
educator_out = pd.read_csv('Educators_OUT_OF_FIELD_2018_JAN_24th_2019.csv')

In [5]:
process.extractOne('Altamaha Elementary School', school_to_id['SCHOOL_NAME'], scorer=fuzz.partial_ratio)

('Altamaha Elementary School', 100, 4)

In [6]:
def match_school_to_id(school_name, school_to_id):
    result = process.extractOne(school_name, school_to_id['SCHOOL_NAME'], scorer=fuzz.partial_ratio)
    matching_name = result[0]
    confience = result[1]
    row_index = result[2]
    school_id = school_to_id.iloc[row_index]['Full School_ID']
    return school_id, matching_name, confience

In [7]:
educator_out_res = educator_out['INSTN_NAME'].apply(lambda school_name: match_school_to_id(school_name, school_to_id))

In [8]:
educator_out['SCHOOL_ID'] = educator_out_res.apply(lambda x: x[0])
educator_out['MATCHING_NAME'] = educator_out_res.apply(lambda x: x[1])
educator_out['CONFIDENCE'] = educator_out_res.apply(lambda x: x[2])

In [9]:
educator_out.to_csv('Educators_OUT_OF_FIELD_2018_JAN_24th_2019_with_id.csv', index=False)

In [10]:
educator_inex_res = educator_inex['INSTN_NAME'].apply(lambda school_name: match_school_to_id(school_name, school_to_id))

In [11]:
educator_inex['SCHOOL_ID'] = educator_inex_res.apply(lambda x: x[0])
educator_inex['MATCHING_NAME'] = educator_inex_res.apply(lambda x: x[1])
educator_inex['CONFIDENCE'] = educator_inex_res.apply(lambda x: x[2])

In [12]:
educator_inex.to_csv('Educators_Inexperienced_2018_JAN_24th_2019_with_id.csv', index=False)

In [18]:
# show rows where INSTN_NAME is not equal to MATCHING_NAME and confidence is 100
educator_out[educator_out['INSTN_NAME'] != educator_out['MATCHING_NAME']][educator_out['CONFIDENCE'] == 100].head(30)

C:\Users\ethan_haque\AppData\Local\Temp\ipykernel_6960\1362862232.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  educator_out[educator_out['INSTN_NAME'] != educator_out['MATCHING_NAME']][educator_out['CONFIDENCE'] == 100].head(30)

,LONG_SCHOOL_YEAR,SCHOOL_DSTRCT_NM,INSTN_NAME,LABEL_LVL_3_DESC,LABEL_LVL_2_DESC,FTE,OUTOFFIELD_FTE,OUTOFFIELD_FTE_PCT,SCHOOL_ID,MATCHING_NAME,CONFIDENCE
68,2017-18,Atlanta Public Schools,Dobbs Elementary School,Teachers,High Poverty,35.2,3.4,10,7610104,Dobbs Elementary School,100
69,2017-18,Atlanta Public Schools,Dobbs Elementary School,Teachers,Total,35.2,3.4,10,7610104,Dobbs Elementary School,100
111,2017-18,Atlanta Public Schools,KIPP Vision Primary,Teachers,High Poverty,30.3,12.1,40,7610122,KIPP VISION,100
112,2017-18,Atlanta Public Schools,KIPP Vision Primary,Teachers,Total,30.3,12.1,40,7610122,KIPP VISION,100
119,2017-18,Atlanta Public Schools,Kindezi Old 4th Ward,Teachers,High Poverty,78.0,25.1,32,7610123,Kindezi,100
120,2017-18,Atlanta Public Schools,Kindezi Old 4th Ward,Teachers,Total,78.0,25.1,32,7610123,Kindezi,100
156,2017-18,Atlanta Public Schools,Scott Elementary School,Teachers,High Poverty,37.7,2.3,6,7020105,T.G. Scott Elementary School,100
157,2017-18,Atlanta Public Schools,Scott Elementary School,Teachers,Total,37.7,2.3,6,7020105,T.G. Scott Elementary School,100
160,2017-18,Atlanta Public Schools,Smith Elementary School,Teachers,Low Poverty,65.3,6.6,10,6255066,Jacob G. Smith Elementary School,100
161,2017-18,Atlanta Public Schools,Smith Elementary School,Teachers,Total,65.3,6.6,10,6255066,Jacob G. Smith Elementary School,100
164,2017-18,Atlanta Public Schools,Springdale Park Elementary School,Teachers,Low Poverty,47.2,7.6,16,6720188,Park Elementary School,100
165,2017-18,Atlanta Public Schools,Springdale Park Elementary School,Teachers,Total,47.2,7.6,16,6720188,Park Elementary School,100
364,2017-18,Bremen City,Jones Elementary School,Teachers,Low Poverty,52.3,0.0,0,7614063,M. A. Jones Elementary School,100
365,2017-18,Bremen City,Jones Elementary School,Teachers,Total,52.3,0.0,0,7614063,M. A. Jones Elementary School,100
401,2017-18,Buford City,Buford Elementary School,Teachers,Low Poverty,88.0,1.6,2,6330292,Ford Elementary School,100
402,2017-18,Buford City,Buford Elementary School,Teachers,Total,88.0,1.6,2,6330292,Ford Elementary School,100
477,2017-18,Candler County,Metter High School,Teachers,Total,44.1,7.3,17,6210101,Metter High School,100
487,2017-18,Carroll County,Central Middle School,Teachers,Total,61.9,10.7,17,6080190,South Central Middle School,100
489,2017-18,Carroll County,Ithica Elementary,Teachers,Total,45.8,4.0,9,6220405,Ithica Elementary,100
494,2017-18,Carroll County,Mt. Zion Middle School,Teachers,Total,23.1,4.8,21,6220208,Mt. Zion Middle School,100
545,2017-18,Chatham County,Andrea B Williams Elementary School,Teachers,Total,53.0,2.5,5,6110383,Williams Elementary School,100
588,2017-18,Chatham County,Myers Middle School,Teachers,Total,115.2,28.5,25,6250301,Myers Middle School,100
709,2017-18,Chickamauga City,Gordon Lee Middle School,Teachers,Low Poverty,20.0,0.3,1,6380106,Lee Middle School,100
710,2017-18,Chickamauga City,Gordon Lee Middle School,Teachers,Total,20.0,0.3,1,6380106,Lee Middle School,100
717,2017-18,Clarke County,Clarke Central High School,Teachers,Total,140.5,24.3,17,6110186,Central High School,100
757,2017-18,Clayton County,East Clayton Elementary School,Teachers,High Poverty,75.0,10.7,14,6281052,Clayton Elementary School,100
758,2017-18,Clayton County,East Clayton Elementary School,Teachers,Total,75.0,10.7,14,6281052,Clayton Elementary School,100
779,2017-18,Clayton County,James Jackson Elementary School,Teachers,High Poverty,107.0,14.9,14,6180111,Jackson Elementary School,100
780,2017-18,Clayton County,James Jackson Elementary School,Teachers,Total,107.0,14.9,14,6180111,Jackson Elementary School,100
863,2017-18,Clayton County,West Clayton Elementary School,Teachers,High Poverty,76.5,16.0,21,6281052,Clayton Elementary School,100